
@media (max-width: 959px) {
    .footer-box:first-child {
        padding-left: 30px;
    }
    .footer-box {
        box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    }
    .footer-item {
        padding: 30px 15px;
    }
}