<section class="call-to-action gap primary-bg">
  <div class="container">
    <div fxLayout="row nowrap" fxLayout.lt-md="column" fxLayoutGap="20px">
      <div fxFlex="66.666">
        <h2>Illum et quis officiis beatae</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nam, illum et quis officiis beatae.</p>
      </div>
      <div fxFlex="33.333" fxLayoutAlign="center center">
        <button id="infoButton" mat-raised-button mat-lg-button color="accent">Information</button>
      </div>
    </div>
  </div>
</section>